/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  color: red;
  font-family: $ffadr;
}

/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/
h1 {

}

h2 {

}

h3 {

}


/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html {
  font-size: 14px;
}


/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/
img {
  height: auto;
  width: 100%;
}


/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/
p {

}
